
.row
	.col-sm-8.col-md-offset-2
		%h2 Welcome to grass.io 
		%h4 Where is the data from?
		%p We take data from Wolfram Alpha, a computable knowledge engine. If you have an Iphone or an Android phone you have used this technology through speech recognition. As of 2008 the government makes data more available and we also tap into that. 
		%h4 How is the application managed?
		%p Our platform, is an Open Source MIT License. Built and maintained by: Katharine VanderDrift. 