
.row.text-center.col-xs-12#intro
	%h3#main_page_header Watch Your Data Grow
	%p#intro Let's start with your first name...
.row

%br
.row.text-center.col-xs-12
	= render "names/new_name_form"

.row.text-center.col-xs-12
	

/ 	%p Data Powered By:
/ 	=link_to " Wolfram Alpha  &", "http://www.wolframalpha.com/about.html" 
/ 	=link_to " US Government ", "http://www.data.gov/"
				
/ .row.col-xs-12
/ 	/ #object.pullUp
/ .row.col-xs-12

.row.col-xs-12
	#object.pullUp

= render "layouts/footer"