.navbar {
  background-color: white;
  border: 1px solid white;
}

h1, h2, h3, a, th, tspan {
	letter-spacing: .11em;
	font-family: 'Muli', sans-serif;
	color: #6AB238;
}


a {
	color: #43A826;
}

a:hover {color: black;}


.form-control {
	border: 1px solid #43A826;
}


input[type="submit"] { background-color: #328F31; border: 1px solid #328F31;}
input[type="submit"]:hover {background-color: #328F31; border: 1px solid #328F31;}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
	border-color: rgba(126, 239, 104, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

footer p{
	color: #43A826;
}


