#footer_credit li {
	display: inline;
}

footer p {margin-left: 4em;}

#ajax_loader {
	display: none;
	height: 25em;
	background: url('/assets/textris.GIF')no-repeat center;
	text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}