// #main_page_header {
// 	font-size: 3.5vw;
// 	color: #6AB238;
// }

// #intro {
// 	font-size: 2vw;
// 	color: #055802;

// }


#name_first_name, [input]  {
	border: 2px solid #6AB238;
	border-radius: 5px;
	height: 3.5em;
	width: 20em;
}

#main_page_header {
	font-size: 3.5vw;
	color: #6AB238;
}

#intro {
	font-size: 2vw;
	color: #055802;

}