%footer.text-center.navbar-bottom 
	%ul#footer_credit
		%li Data Powered by:
		%li=link_to " Wolfram Alpha", "http://www.wolframalpha.com/about.html" 
		%li &
		%li=link_to " US Government ", "http://www.data.gov/"
	%p 2014 &copy; grass.io - Watch Your Data Grow 